.topbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}

.topRight {
  display: flex;
  position: absolute;
  align-items: center;
  right: 10px;
  justify-content: center;
}
.topLeft {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}
.topRight button {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: small;
  font-weight: bold;
}
.topRight button:hover {
  color: rgb(255, 255, 255);
  background-color: red;
}
@media (max-width: 768px) {
  body {
    font-size: 17px;
    display: block;
  }
  .logo {
    font-size: 24px;
  }
}
